<div  class="jumbotron-center">
  <h2 class="welcome"> Welcome to your personal workout tracker! </h2>
  <h4 class="welcome"> Let's start tracking your meal and Workout  </h4>
  <h4 class="welcome"> PLease Login or Sign Up to start tracking your meals and workout!!! </h4>
</div>
