<div  class="jumbotron-center">
  <h2 class="welcome"> Welcome to your personal workout tracker! </h2>
  <h4 class="welcome"> Let's start tracking your meal and Workout  </h4>
  <h4 class="welcome"> PLease Login or Sign Up to start tracking your meals and workout!!! </h4>
</div>

<div class="right">
  <h5>Dummy Account</h5>
  <h6>Email: john.doe@gmail.com</h6>
  <h6>password : password</h6>
</div>
